<footer class="footer mt-6 has-text-dark has-text-centered">
    <!--
    <div class="section has-text-grey">
      <p>
          <i class="far fa-life-ring"></i>
      </p>
      <p>
          <div class="block is-size-6 has-text-grey">
            <a href="https://givingcredit.freshdesk.com/support/solutions" class="has-text-grey">
                Need help? View our knowledge base.
            </a>
          </div>
      </p>
  </div>
  -->
  <div class="content">
    <p>    
        <div class="block is-size-6 has-text-grey">
            Hecho en Long Beach, CA <i class="far fa-umbrella-beach"></i>
        </div>
    </p>
</div>
</footer>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
      
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
      
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
      
          });
        });
      
      });
</script>