<nav class="navbar p-5" role="navigation" aria-label="main navigation">

    
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ "" | relURL }}">
            <img src="/img/full-logo.png" style="max-height: 40px;" />
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ "partner" | relURL }}">
                Partner
            </a>

            <a href="{{ "pilots" | relURL }}" class="navbar-item">
                Pilots
            </a>

            <!--
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="/partner" class="navbar-link">
                    Partner
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Credit Union or Community Bank
                    </a>
                    <a href="/partner/nonprofit" class="navbar-item">
                        Nonprofit
                    </a>
                    <a class="navbar-item">
                        Employer
                    </a>
                    <a class="navbar-item">
                        Religious Group
                    </a>
                    <a class="navbar-item">
                        Mutual Aid
                    </a>
                </div>
            </div>
            -->
            
            <!--
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Platform
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Loan guarantees
                    </a>

                    <a class="navbar-item">
                        Cash transfers
                    </a>

                    <a class="navbar-item">
                        Analytics
                    </a>

                </div>
            </div>
            -->
        
            <a class="navbar-item" href="{{ "about" | relURL }}">
                About
            </a>

        </div>

    </div>
    
    <div class="navbar-end">
        <div class="navbar-item">
            <a href="https://t505027io8s.typeform.com/to/e8HRSSkP" class="button is-warning has-text-weight-bold">
                Join the waitlist
            </a>
            <!--
            <div class="buttons">
                <a href="https://bank-on-we.herokuapp.com/" class="button is-ghost">
                    <strong>Log in</strong>
                </a>
                <a href="https://bank-on-we.herokuapp.com/" class="button is-rounded is-outlined" style="border: 1px solid #CCC;">
                    <strong>Sign up</strong>
                </a>
            </div>
            -->
        </div>
    </div>
    
    
    
</nav>