{{ define "main" }}
  {{ partial "title.html" . }}
    <main aria-role="main" class="">
      <div class="content content-container">
        <div class="block">
            <a href="/pilots">
                <i class="fas fa-chevron-left mr-1"></i> Back to Pilots
            </a>
        </div>
        {{.Content}}


        <div class="box">
            <div class="field">
                <label class="label">Location</label>
                {{ .Params.location }}
            </div>
            <div class="field">
                <label class="label">Fund Type</label>
                {{ .Params.fund_type }}
            </div>
        </div>


      </div>
    </main>
{{ end }}