{{ define "main" }}
  {{ partial "header.html" }}
  {{ partial "navigation.html" }}
  <main aria-role="main">

    <section class="hero is-warning">
      <div class="hero-body has-text-centered">
        <div class="content content-container has-text-centered">
          <h1>Mainstream finance excludes us</h1>
          <p>25 million households are underbanked. 45 million people do not have credit scores.</p>
        </div>
      </div>
    </section>


    <section class="hero is-info">
      <div class="hero-body has-text-centered">
        <div class="content content-container has-text-centered">
          <h1>Alternative finance exploits us</h1>
          <p>Payday lenders extract $9 Billion per year from working families</p>
        </div>
      </div>
    </section>

    <section class="hero is-success">
      <div class="hero-body has-text-centered">
        <div class="content-container">
          <div class="block mb-6">
            <p class="title is-size-2">There is an Account For Us.</p>
          </div>

          <div class="box has-text-black has-background-warning-light p-2 is-size-5" style="max-width: 500px; margin: 0px auto; margin-bottom: 25px;">
            <p class="">
              Every year <strong>$90 Billion</strong> is loaned to friends, family, neighbors, and coworkers.
            </p>

          </div>

          <div class="block">
            <a href="" class="button is-link is-rounded is-medium has-text-weight-bold">
              Start your Account For Us
            </a>
          </div>

        </div>
      </div>
    </section>

      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
  </main>
{{ end }}