<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a class="button is-fullwidth mb-5 has-text-white has-background-color-primary" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/david-ian-henderson/account-for-us?hide_gdpr_banner=1'});return false;">
    <i class="fas fa-calendar mr-2"></i> Schedule an introductory call
</a>
<!-- Calendly link widget end -->